@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

// reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  background-color: rgba(245, 245, 245, 0.964);
}

// global css
.text-center {
  text-align: center;
}

h1 {
  margin-bottom: 16px;
  font-size: 38px;
}

h2 {
  margin-bottom: 16px;
  font-size: 30px;
}

h3 {
  margin-bottom: 16px;
  font-size: 24px;
}

h5 {
  margin-bottom: 16px;
  font-size: 16px;
  color: #000;
}

p {
  font-size: 14px;
  line-height: 24px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1000px;
  margin: auto;
}

section {
  margin: 90px 0;
}

.flex {
  display: flex;

  &.flex-wrap {
    flex-wrap: wrap;
  }

  &.flex-center {
    align-items: center;
    justify-content: center;
  }
}

.gap-30 {
  gap: 30px;
}

.br-10 {
  border-radius: 10px;
}

img {
  max-width: 100%;
  object-fit: cover;
}

// header css
.header-container {
  height: 60px;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.6);
  align-items: center;
  justify-content: space-between;

  .header-logo {
    margin-left: 30px;

    img {
      width: 100px;
      height: 50px;
    }
  }

  .header-nav {
    margin-right: 30px;

    li {
      list-style: none;
      padding: 8px;
      margin-right: 10px;

      a {
        color: white;
        font-size: 16px;
        font-weight: 500;
      }
    }
  }

}

// hero css
.hero {
  position: relative;
  height: 400px;
  overflow: hidden;

  img {
    transform: translate(0px, -430px);
  }

  &-content {
    max-width: 400px;
    position: absolute;
    left: 100px;
    top: 50%;
    transform: translateY(-50%);
    color: white;
  }
}

// special dishes css
.special-dishes {
  background-color: rgb(245 245 245 / 82%);

  &-content {
    max-width: 650px;
    margin: auto;
  }

  &-menu {
    margin-top: 80px;

    li {
      width: 22%;
      background-color: white;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
      border-radius: 10px;
      text-align: center;
      overflow: hidden;

      h5 {
        margin-top: 5px;
        font-weight: 500;
      }
    }
  }

}

// category css
.Category-dishes {

  &-content {
    max-width: 650px;
    margin: auto;
  }

  &-list {
    ul {
      display: flex;
      flex-wrap: wrap;
      margin-top: 30px;
    }

    li {
      background-color: rgb(237 201 0);
      color: white;
      font-weight: 500;
      padding: 12px 30px;
      margin-right: 20px;
      margin-bottom: 20px;
      border-radius: 30px;
      cursor: pointer;
      transition: all ease 0.3s;

      &.active {
        background-color: black;
      }

      &:hover {
        background-color: black;
      }
    }
  }

  &-show {
    margin-top: 80px;
    margin-bottom: 30px;

    li {
      width: 22%;
      background-color: white;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
      border-radius: 10px;
      text-align: center;
      overflow: hidden;

      h5 {
        margin-top: 5px;
        font-weight: 500;
      }
    }
  }

  section {
    margin: 40px 0;
  }
}

// loader css
.loader {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(#000, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    color: white
  }
}

// empty category css
.alert {
  border: 2px orange solid;
  border-radius: 10px;
  height: 20vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 30px;

  h3 {
    color: red;
    margin: 0 0 10px 0;
  }

  h4 {
    margin: 0;
  }
}

// pagination
.pagination {
  justify-content: center;
  margin: 50px 0 0;

  li {
    width: 30px;
    height: 30px;
    border: 1px solid grey;
    border-radius: 50%;
    margin: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 8px;
    transition: all ease-in-out 0.1s;

    &:hover {
      background-color: orange;
      border: #000;
    }

    &.active {
      background-color: orange;
      border: 1px solid orange;
    }
  }
}

// popup css
.popup {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h2 {
    color: white;
  }

  &-content {
    background-color: rgb(17, 17, 17);
    width: 800px;
    height: 550px;
    border-radius: 5px;

    &-data {
      display: flex;
      flex-direction: column;

      .popup-image {
        height: 300px;
        width: 300px;
        margin: 30px 20px;
        overflow: hidden;
        position: relative;

        img {
          width: 100%;
          height: 100%;
          border-radius: 5px;
        }

        h4 {
          position: absolute;
          right: 0;
          bottom: 0;
          background-color: rgb(255 0 84 / 96%);
          color: white;
          padding: 8px 10px;
          border-top-left-radius: 16px;
        }
      }

      .popup-text {
        margin: 0 20px;

        h2 {
          font-size: 28px;
          margin-bottom: 25px;
        }

        h3 {
          color: black;
          background-color: white;
          padding: 6px 14px;
          display: inline;
          font-size: 18px;
          border-radius: 5px;
        }
      }
    }

    .popup-description {
      color: white;
      margin: 20px 0;

      h4 {
        padding: 10px;
      }

      p {
        overflow-y: scroll;
        height: 300px;
        width: 450px;
        padding: 10px;
      }
    }
  }

  &-close {
    position: absolute;
    top: 25px;
    right: 25px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: all ease 0.3s;

    &:hover {
      color: #ff4848;
    }
  }

  button {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%);
    border: none;
    outline: none;
    background-color: orange;
    color: rgba(0, 0, 0, 0.903);
    padding: 12px 20px;
    border-radius: 6px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    transition: all ease 0.4s;

    &:hover {
      background-color: #16da37e0;
    }
  }
}

//add to cart css
.add-to-cart-wrapper {
  width: 80px;
  position: absolute;
  top: 10%;
  right: 10px;
  background-color: white;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, .6);
  padding: 5px;
  border-radius: 5px;
  text-align: center;

  .add-to-cart-item {
    .item-container {
      margin-bottom: 6px;
      border-bottom: 1px solid #000;
      position: relative;
      overflow-x: hidden;

      h6 {
        margin-bottom: 8px;
        font-size: 14px;
      }

      .closeIcon {
        position: absolute;
        right: 0;
        top: 5px;
        font-size: 20px;
      }

      img {
        width: 100%;
        height: 80px;
        object-fit: cover;
        border-radius: 5px;
      }
    }
  }
}

// checkout css
.checkout {
  width: 100%;
  height: 100vh;
  background-color: rgb(255, 174, 0);
  padding: 80px 40px;

  &-container {
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 500px;
    background-color: rgba(50, 43, 23, 0.8);
    border-radius: 10px;

    &-items {
      flex: 1 1 500px;
      padding: 20px;
      height: 500px;
      overflow-y: scroll;

      h2{
        color:white;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 20%;
      }


      .checkout-container-item {
        width: 100%;
        background-color: white;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 10px;
        margin-bottom: 10px;

        img{
          width: 100px;
          height: 100px;
          overflow: hidden;
        }
        
      }
    }
    .checkout-container-totals{
      flex: 1 1 500px;
      text-align: center;
      height: auto;
      outline:1px solid rgb(0, 0, 0);
      margin:0 10px;
      border-radius:6px;
      background-color: white;
   
      h1{
        font-size: 30px;
        color:rgb(0, 0, 0);
       outline:1px solid rgb(0, 0, 0);
        font-weight: 500;
        padding: 10px;

      }


      .checkout-container-total {
        flex: 1 1 500px;
        text-align: center;

        h3{
          font-weight: 500;
        }
  
        button{
          padding: 10px 26px;
          border: none;
          background-color: green;
          color: white;
          font-size: 24px;
          font-weight: bold;
          font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        border-radius: 10px;
        transition: background-color .6s ease;
        margin-bottom: 10px;
        }
  
        button:hover{
          background-color: #000;
        }
      }
    }
    

  }
}